/* src/styles/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; /* Light gray background for the page */
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
